@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f6fc; /*color changed*/
}

/**Project Page Header Section*/

.headerProject {
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.headerProject > nav {
  display: flex;
  justify-content: space-between;
}

#circleLogoAnchor {
  display: flex;
  align-items: center;
}

#circleLogo {
  transition: all 0.1s ease-in-out;
}

#circleLogo:hover {
  transform: scale(1.2);
}

.list-sections > ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.list-sections > ul > li {
  list-style: none;
  color: #6b708d;
}

.list-sections > ul > li > a {
  color: #6b708d;
}

.list-sections > ul > li > a:hover {
  color: #9799a4;
}

.contactUsProject {
  background-color: #072ac8;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.contactUsProject:hover {
  background-color: #051a7a;
  transform: scale(1.1);
}

.contactUsProject > a {
  color: white;
  text-decoration: none;
  padding: 15px 36px;
  font-weight: 500;
}

.list-sections > ul > li > a {
  text-decoration: none;
}

/**Project Page Simplify Section*/

.simplify {
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 120px;
}

.simplifyHeader {
  margin-bottom: 50px;
}

.subSimplify {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subSimplify h3 {
  color: #6b708d;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

#simplifyTitle {
  font-family: "Roboto";
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bolder;
  font-size: 60px;
  line-height: 70px;
}

.sub2 span {
  color: #6b708d;
}

#imagenSimplifyBlurred {
  position: absolute;
  z-index: -1;
}
#imagenSimplifyBlurred > img {
  width: 100%;
  margin-bottom: 40px;
  filter: blur(10px);
}

#imagenSimplify {
  position: relative;
}
#imagenSimplify > img {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.parrafoSimplify p {
  text-align: justify;
  text-justify: auto;
  font-weight: 400;
  line-height: 30px;
  color: #6b708d;
}

/**Project Page Other Projects Section*/

.otherProjects {
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 120px;
  margin-bottom: 80px;
}

.otherProjects > h2 {
  font-weight: bolder;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 60px;
}

.otherProjects .projectsLearnMore {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.projectsLearnMore > div {
  width: 340px;
  height: 444px;
  background-color: white;
  position: relative;
  box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.oPTextContent {
  margin-left: 30px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: -20px;
}

#sub4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

#sub5 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.oPTextContent > a {
  color: #072ac8;
  text-decoration: none;
}

.oPTextContent > a:hover {
  color: #5970d7;
}

.projectsLearnMore .fichas img {
  width: 100%;
  height: 50%;
}

.fichas {
  transition: all 0.2s ease-in-out;
}

.fichas:hover {
  transform: scale(1.1);
}

/**Project Page Questions Section*/

.questions {
  position: relative;
  margin-top: 175px;
}

.yellowBox {
  height: 500px;
  background-color: #ffc600;
  margin: 60px;
  position: relative;
}

#anyQuestions {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 40px;
  line-height: 47px;
}

#letUsHelpYou {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.contentYellowBox {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/**Project Page Contact Section*/

.mailForm {
  margin-top: 40px;
}

.mailForm > form {
  display: flex;
}

#subscribeButton {
  color: white;
  text-decoration: none;
  padding: 15px 36px;
  font-weight: 500;
  background-color: #072ac8;
  width: 198px;
  height: 80px;
  left: 658px;
  top: 147px;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  margin-left: 25px;
  transition: all 0.2s ease-in-out;
}

#subscribeButton:hover {
  background-color: #051a7a;
  transform: scale(1.05);
}

#inputFormDiv {
  width: 393px;
  height: 80px;
  left: 245px;
  top: 147px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#inputFormDiv img {
  margin-left: 30px;
}

#inputForm {
  width: 300px;
  height: 26px;
  left: 315px;
  top: 174px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #292e47;
  border: none;
  text-align: start;
  /**background-image: url("/img/newsletter/icon/mail.svg");
  background-repeat: no-repeat;*/
}

/**#inputForm:focus{
  background-image: none;
}*/

.logoAdress > img {
  margin-bottom: 30px;
  width: 98.38px;
  height: 30px;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin: 200px 170px 100px 170px;
}

.linksProject {
  display: grid;
  grid-template-rows: 70px 70px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0px;
}

#btn-submit {
  background-color: #072ac8;
  color: white;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  border: none;
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
}

#contact-form {
  width: 100%;
  align-items: center;
  margin: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

#contact-form label {
  font-size: 20px;
  color: #6b708d;
}

#contact-form input {
  height: 70px;
  width: 100%;
  font-size: 17px;
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
  margin: 20px 0px 20px 0px;
  padding: 0;
}

#contact-form textarea {
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  padding-top: 20px;
  background-color: rgba(107, 112, 141, 0.1);
  margin-top: 20px;
  padding-top: 20px;
  border: none;
  width: 100%;
  padding: 0;
  font-family: "Roboto";
}

#contact-div {
  height: 830px;
  margin: 120px 170px 0px 170px;
  padding: 0;
}
#contact-div > h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0px 0px 80px 0px;
}
#input-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#input-row fieldset {
  width: 48%;
}

input::placeholder {
  padding: 20px;
}

textarea::placeholder {
  padding: 20px 20px 20px 20px;
}

/* Hero-Section upper-Index*/
#hero-section {
  margin: 97px 18px 0px 18px;
}

#container-hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 170px;
}

#content-hero-section {
  margin-top: 109px;
  width: 530px;
  height: 422px;
  text-align: left;
}

#content-hero-section h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  width: 530px;
  height: 210px;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292e47;
}

#content-hero-section p {
  width: 435px;
  height: 90px;
  color: #6b708d;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-block-start: 30px;
  margin-block-end: 40px;
}

#links-hero-section {
  display: flex;
  flex-direction: row;
}

#links-hero-section a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

#touch-hero-section {
  color: #ffffff;
  width: 92;
  height: 22px;
  text-align: center;
  background-color: #072ac8;
  padding: 15px 29px;
  margin-right: 40px;
  transition: all 0.2s ease-in-out;
}

#touch-hero-section:hover {
  background-color: #051a7a;
  transform: scale(1.1);
}

#work-hero-section {
  color: #6b708d;
  margin-top: 15px;
}

#images-hero-section {
  width: 570px;
  height: 650px;
  background-image: url(/img/hero-section/hero-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

#images-hero-section > img {
  width: 380px;
  height: 400px;
}

#card1 {
  position: absolute;
  left: -90px;
  top: -15px;
}

#card2 {
  position: absolute;
  left: 300px;
  top: 400px;
}

#client-section {
  margin: 133px 18px 200px 18px;
}

#client-section-images {
  margin: 32px 170px;
  filter: grayscale(100%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#airbnb-logo {
  width: 104;
  height: 32;
}

#google-logo {
  width: 96;
  height: 32;
}

#microsoft-logo {
  width: 123;
  height: 26;
}

#fedex-logo {
  width: 101;
  height: 30;
}

#amazon-logo {
  width: 104;
  height: 32;
}

#projects-section h2 {
  width: 285px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #292e47;
  margin: 0px 985px 70px 170px;
}

#projects-section-flex {
  height: 444px;
  display: flex;
  justify-content: space-between;
  margin: 0px 170px;
}

.projects-section-style {
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.projects-section-style:hover {
  transform: scale(1.1);
}

.projects-section-style img {
  width: 340px;
  height: 240px;
}

.projects-section-style h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292e47;
  margin-left: 30px;
}

.projects-section-style p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #6b708d;
  margin-left: 30px;
  margin-bottom: 54px;
}

.projects-section-style a {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #072ac8;
  text-decoration: none;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* testimonial-section  */

#testimonial-section {
  position: relative;
  background-color: #292e47;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 200px;
  height: 600px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#testimonial-section h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #f4f6fc;
  text-align: center;
  padding-top: 15px;
}

#testimonial-section .review {
  font-size: 24px;
  color: #ffc600;
  text-align: center;
  font-weight: 500;
  line-height: 160%;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 40px;
}

#testimonial-section .Kristin {
  font-size: 17px;
  color: #a2d6f9;
  line-height: 100%;
}

#testimonial-section .booking {
  font-size: 13px;
  color: #f4f6fc;
}
.orbit-background {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #292e47;
}

.memoji {
  position: absolute;
  width: 150px;
  height: 150px;
}

.memoji-1 {
  top: 50px;
  left: 70px;
}

.memoji-2 {
  top: 50px;
  right: 70px;
}

.memoji-3 {
  bottom: 60px;
  left: 70px;
}

.memoji-4 {
  bottom: 60px;
  right: 70px;
}

.clients-information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.Kristin-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.Kristin-text {
  padding-left: 10px;
}

.Kristin-text p {
  margin-block-start: 0;
  margin-block-end: 0;
}
/* our-service section  */

#our-services {
  margin: auto;
  max-width: 90%;
}

#ourServices-section {
  margin-left: auto;
  max-width: 90%;
  margin-right: auto;
  margin-top: 200px;
}

#our-services .services-container {
  display: flex;
  gap: 40px;
}

#our-services h3 {
  margin-bottom: 70px;
}

#our-services h4 {
  color: #292e47;
  font-weight: 500;
  font-size: 24px;
}

#our-services p {
  font-size: 20px;
  color: #6b708d;
  margin-bottom: 50px;
}

#our-services a {
  color: #072ac8;
}

#our-services .internal-div1,
.internal-div2,
.internal-div3 {
  background: #ffffff;
  box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-grow: 1;
}

.Learn-more {
  text-decoration: none;
}

.icon-box {
  background-color: #ecf7ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 30px;
  height: 30px;
}

/* yellow-box section  */
.yellow-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#yellow-box {
  background-color: #ffc600;
  position: relative;
  margin: 60px;
  margin-top: 200px;
  height: 500px;
}

#yellow-box h3 {
  text-align: center;
}

#yellow-box p {
  text-align: center;
  margin-bottom: 50px;
  color: #292e47;
  font-size: 20px;
}

.yellow-container {
  transform: translate(-50%, -60%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.email-box {
  background: #f4f6fc;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 27px;
  width: 390px;
  margin-left: 30px;
}

.email-box input {
  border: none;
  background-color: transparent;
  font-size: 17px;
}

.email-box ::placeholder {
  color: #292e47;
  font-size: 17px;
}

form input[type="submit"] {
  background-color: #072ac8;
  border: none;
  padding-left: 60px;
  padding-right: 60px;
  display: block;
  color: white;
  font-size: 17px;
}
