@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f6fc; /*color changed*/
}

/**Common Animation */

.contactUsProject,
#touch-hero-section,
#subscribeButton,
#btn-submit {
  transition: all 0.2s ease-in-out;
  background-color: #072ac8;
}

.contactUsProject:hover,
#touch-hero-section:hover,
#subscribeButton:hover,
#btn-submit:hover {
  background-color: #051a7a;
  transform: scale(1.1);
}

/**Project Page Header Section*/

.headerProject {
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.headerProject > nav {
  display: flex;
  justify-content: space-between;
}

#circleLogoAnchor {
  display: flex;
  align-items: center;
}

#circleLogo {
  transition: all 0.1s ease-in-out;
}

#circleLogo:hover {
  transform: scale(1.2);
}

.list-sections > ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.list-sections > ul > li {
  list-style: none;
  color: #6b708d;
}

.list-sections > ul > li > a {
  color: #6b708d;
}

.list-sections > ul > li > a:hover {
  color: #9799a4;
}

.contactUsProject {
  background-color: #072ac8;
  display: flex;
  align-items: center;
}

.contactUsProject > a {
  color: white;
  text-decoration: none;
  padding: 15px 36px;
  font-weight: 500;
}

.list-sections > ul > li > a {
  text-decoration: none;
}

#addressAnchor {
  text-decoration: none;
  color: #9799a4;
}

/**Project Page Simplify Section*/

.simplify {
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 120px;
}

.simplifyHeader {
  margin-bottom: 50px;
}

.subSimplify {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subSimplify h3 {
  color: #6b708d;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

#simplifyTitle {
  font-family: "Roboto";
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bolder;
  font-size: 60px;
  line-height: 70px;
}

.sub2 span {
  color: #6b708d;
}

#imagenSimplifyBlurred {
  position: absolute;
  z-index: -1;
}
#imagenSimplifyBlurred > img {
  width: 100%;
  margin-bottom: 40px;
  filter: blur(10px);
}

#imagenSimplify {
  position: relative;
}
#imagenSimplify > img {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.parrafoSimplify p {
  text-align: justify;
  text-justify: auto;
  font-weight: 400;
  line-height: 30px;
  color: #6b708d;
}

/**Project Page Other Projects Section*/

#otherProjects {
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 120px;
  margin-bottom: 80px;
}

#otherProjects > h2 {
  font-weight: bolder;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 60px;
}

#otherProjects #projectsLearnMore {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

#projectsLearnMore > div {
  width: 340px;
  height: 444px;
  background-color: white;
  position: relative;
  box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.oPTextContent {
  margin-left: 30px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: -20px;
}

#sub4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

#sub5 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.oPTextContent > a {
  color: #072ac8;
  text-decoration: none;
}

.oPTextContent > a:hover {
  color: #5970d7;
}

#projectsLearnMore .fichas img {
  width: 100%;
  height: 50%;
}

.fichas {
  transition: all 0.2s ease-in-out;
}

.fichas:hover {
  transform: scale(1.1);
}

/**Project Page Questions Section*/

.questions {
  position: relative;
  margin-top: 175px;
}

.yellowBox {
  height: 500px;
  background-color: #ffc600;
  margin: 60px;
  position: relative;
}

#anyQuestions {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 40px;
  line-height: 47px;
}

#letUsHelpYou {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.contentYellowBox {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/**Project Page Contact Section*/

.mailForm {
  margin-top: 40px;
}

.mailForm > form {
  display: flex;
}

#subscribeButton {
  color: white;
  text-decoration: none;
  padding: 15px 36px;
  font-weight: 500;
  background-color: #072ac8;
  width: 198px;
  height: 80px;
  left: 658px;
  top: 147px;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  margin-left: 20px;
  border: none;
}

#inputFormDiv {
  width: 393px;
  height: 80px;
  left: 245px;
  top: 147px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#inputFormDiv img {
  margin-left: 30px;
}

#inputForm {
  width: 300px;
  height: 26px;
  left: 315px;
  top: 174px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #292e47;
  border: none;
  text-align: start;
  /**background-image: url("/img/newsletter/icon/mail.svg");
  background-repeat: no-repeat;*/
}

/**#inputForm:focus{
  background-image: none;
}*/

.logoAdress > img {
  margin-bottom: 30px;
  width: 98.38px;
  height: 30px;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin: 200px 170px 100px 170px;
}

.linksProject {
  display: grid;
  grid-template-rows: 70px 70px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0px;
}

.linksProject a {
  text-decoration: none;
  color: #6b708d;
}

#btn-submit {
  background-color: #072ac8;
  color: white;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  border: none;
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#btn-submit:hover {
  background-color: #051a7a;
  transform: scale(1.02);
}

#contact-form {
  width: 100%;
  align-items: center;
  margin: auto;
}

fieldset {
  margin: 30px 0px 0px 0px;
  padding: 0;
  border: none;
}

#contact-form label {
  font-size: 20px;
  color: #6b708d;
}

#contact-form input {
  height: 70px;
  width: 100%;
  font-size: 17px;
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
  margin: 20px 0px 20px 0px;
  padding: 0;
  text-indent: 20px;
}

input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#contact-form textarea {
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  padding-top: 20px;
  background-color: rgba(107, 112, 141, 0.1);
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  border: none;
  width: 100%;
  font-family: "Roboto";
  text-indent: 20px;
  margin: 20px 0px 20px 0px;
}

#contact-div {
  height: 100%;
  margin: 120px 170px 0px 170px;
  padding: 0;
}
#contact-div > h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0px 0px 80px 0px;
}
#input-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#input-row fieldset {
  width: 48%;
}

/* Hero-Section upper-Index*/
#hero-section {
  margin: 97px 0px 0px 0px;
}

#container-hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 170px;
}

#content-hero-section {
  margin-top: 109px;
  width: 530px;
  height: 422px;
  text-align: left;
}

#content-hero-section h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  width: 100%;
  height: 50%;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292e47;
}

#content-hero-section p {
  width: 435px;
  height: 90px;
  color: #6b708d;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-block-start: 30px;
  margin-block-end: 40px;
}

#links-hero-section {
  display: flex;
  flex-direction: row;
}

#links-hero-section a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

#touch-hero-section {
  color: #ffffff;
  width: 92;
  height: 22px;
  text-align: center;
  background-color: #072ac8;
  padding: 15px 29px;
  margin-right: 40px;
}

#work-hero-section {
  color: #6b708d;
  margin-top: 15px;
}

#work-hero-section:hover {
  color: #9799a4;
}

#images-hero-section {
  width: 570px;
  height: 650px;
  position: relative;
}

#hero-image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#card1 {
  position: absolute;
  width: 380px;
  height: 432px;
  margin-left: -95px;
  margin-top: -40px;
}

#card2 {
  position: absolute;
  width: 380px;
  height: 386px;
  margin-left: 290px;
  margin-top: 410px;
}

#client-section {
  margin: 165px 18px 200px 18px;
}

#client-section-images {
  margin: 32px 170px;
  filter: grayscale(100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#airbnb-logo {
  width: 104;
  height: 32;
}

#google-logo {
  width: 96;
  height: 32;
}

#microsoft-logo {
  width: 123;
  height: 26;
}

#fedex-logo {
  width: 101;
  height: 30;
}

#amazon-logo {
  width: 104;
  height: 32;
}

#projects-section h2 {
  width: 285px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #292e47;
  margin: 0px 985px 70px 170px;
}

#projects-section-flex {
  height: 444px;
  display: flex;
  justify-content: space-between;
  margin: 0px 170px;
}

.projects-section-style {
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.projects-section-style:hover {
  transform: scale(1.1);
}

.projects-section-style img {
  width: 340px;
  height: 240px;
}

.projects-section-style h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292e47;
  margin-left: 30px;
}

.projects-section-style p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #6b708d;
  margin-left: 30px;
  margin-bottom: 54px;
}

.projects-section-style a {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #072ac8;
  text-decoration: none;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* Homepage-bottom */
/* testimonial-section  */

#testimonial-section {
  position: relative;
  background-color: #292e47;
  margin-top:200px;
}

.testimonial-content {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#testimonial-section h3 {
  font-style: normal;
  font-weight: 700;
  /*font-size: 40px;*/
  line-height: 47px;
  color: #f4f6fc;
  text-align: center;
  padding-top: 15px;
}

#testimonial-section .review {
  font-size: 24px;
  color: #ffc600;
  text-align: center;
  font-weight: 500;
  line-height: 160%;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 40px;
}

#testimonial-section .Kristin {
  font-size: 17px;
  color: #a2d6f9;
  line-height: 100%;
}

#testimonial-section .booking {
  font-size: 13px;
  color: #f4f6fc;
}
.orbit-background {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #292e47;
}

.memoji-box {
  padding-top: 50px;
  text-align: center;
}

.memoji {
  width: 100px;
  height: 100px;
}

.memoji-1 {
  top: 50px;
  left: 70px;
}

.memoji-2 {
  top: 50px;
  right: 70px;
}

.memoji-3 {
  bottom: 60px;
  left: 70px;
}

.memoji-4 {
  bottom: 60px;
  right: 70px;
}

.clients-information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.Kristin-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.Kristin-text {
  padding-left: 10px;
}

.Kristin-text p {
  margin-block-start: 0;
  margin-block-end: 0;
}
/* our-service section  */

#our-services {
  margin: auto;
  max-width: 90%;
}

#ourServices-section {
  margin-left: auto;
  max-width: 90%;
  margin-right: auto;
  margin-top: 200px;
}

#our-services .services-container {
  display: flex;
  gap: 40px;
}

#our-services h3 {
  margin-bottom: 70px;
}

#our-services h4 {
  color: #292e47;
  font-weight: 500;
  font-size: 24px;
}

#our-services p {
  font-size: 20px;
  color: #6b708d;
  margin-bottom: 50px;
  line-height: 30px;
}

#our-services a {
  color: #072ac8;
  text-decoration: none;
}

#our-services a:hover {
  color: #5970d7;
}

#our-services .internal-div {
  background: #ffffff;
  box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
}

#our-services .internal-div:hover {
  transform: scale(1.1);
}

.icon-box {
  background-color: #ecf7ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 30px;
  height: 30px;
}

/* yellow-box section  */
.yellow-form {
  display: flex;
  justify-content: center;
  height: 80px;
}

#yellow-box {
  background-color: #ffc600;
  position: relative;
  margin: 60px;
  margin-top: 200px;
  height: 500px;
}

#yellow-box h3 {
  text-align: center;
}

#yellow-box p {
  text-align: center;
  margin-bottom: 50px;
  color: #292e47;
  font-size: 20px;
}

.yellow-container {
  transform: translate(-50%, -60%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.email-box {
  background: #f4f6fc;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 27px;
  width: 390px;
  margin-left: 30px;
}

#email {
  border: none;
  background-color: transparent;
  font-size: 17px;
  width: 100%;
}

.email-box input {
  border: none;
}

.email-box ::placeholder {
  color: #292e47;
  font-size: 17px;
}

form input[type="submit"] {
  background-color: #072ac8;
  border: none;
  padding-left: 60px;
  padding-right: 60px;
  display: block;
  color: white;
  font-size: 17px;
}

#page {
  display: none;
}

.icon {
  display: none;
}

@media (min-width: 640px) and (max-width: 1280px) {
  /* tablet */

  .services-container {
    flex-direction: column;
    justify-content: center;
    
    
  }
  #our-services .internal-div {
    text-align: center;
    margin-bottom: 30px;
  }

  #contact-div {
    margin: 60px;
  }

  .headerProject {
    margin: 60px;
  }

  #input-row {
    display: block;
  }

  #input-row fieldset {
    width: 100%;
  }

  /*Hero-section*/

  #container-hero-section {
    margin: 0 10px;
    justify-content: center;
  }

  #content-hero-section {
    z-index: 1;
    text-align: center;
  }

  #links-hero-section {
    justify-content: center;
    margin: 30px 0;
  }

  #content-hero-section h1 {
    margin: 20px 0;
  }

  #content-hero-section p {
    margin: 0 70px;
  }

  #images-hero-section {
    z-index: -1;
    position: absolute;
  }

  #card1 {
    display: none;
  }

  #card2 {
    display: none;
  }

  #hero-image {
    opacity: 0.3;
  }

  #links-hero-section a {
    font-weight: 550;
  }

  /* Client-section*/

  #client-section {
    margin: 165px 18px 150px 18px;
  }

  #client-section-images {
    margin: 0;
  }

  .yellow-container{
    width: 90%;
  }
}

@media (max-width: 639px) {
  /*phone*/

  #testimonial-section{
    margin-top:150px;
  }
  .testimonial-content {
    margin-left: 5%;
    margin-right: 5%;
  }
  .icon {
    margin: 20px 0px 20px 0px;
    display: block;
    background-color: #f4f6fc;
    width: 40px;
    height: 40px;
  }
  .memoji {
    width: 80px;
    height: 80px;
    text-align: center;
  }

  #ourServices-section {
    margin-top:150px;
    margin-bottom:150px;
  }
  .services-container {
    flex-direction: column;
    justify-content: center;
  }
  #nav-menu {
    display: none;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
    overflow: hidden;
    transition: 0.5s;
  }

  #nav-menu > li {
    margin-bottom: 20px;
    text-align: center;
  }

  .headerProject > nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .headerProject > nav > a > img {
    width: 150px;
  }

  .contactUsProject {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50%;
  }

  .contactUsProject a {
    padding: 0;
    float: right;
  }

  #contact-div {
    margin: 60px;
  }

  .headerProject {
    margin: 60px;
  }

  #input-row {
    display: block;
  }

  .simplify {
    margin-left: 50px;
    margin-right: 50px;
  }

  .headerProject {
    display: block;
  }

  .imagenSimplify {
    width: 20px;
  }

  .yellow-container {
    width: 400px;
  }

  #subscribeButton {
    height: 50px;
    width: 144px;
    margin-left: 0px;
  }

  #yellow-box {
    margin: 40px;
  }

  .yellow-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .email-box {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
  }

  #input-row fieldset {
    width: 100%;
  }

  /*Hero-section*/

  #container-hero-section {
    margin: 0 10px;
    justify-content: center;
  }

  #content-hero-section {
    z-index: 1;
    text-align: center;
  }

  #links-hero-section {
    justify-content: center;
    margin: 30px 0;
  }

  #content-hero-section h1 {
    margin: 20px 0;
  }

  #content-hero-section p {
    margin: 0 70px;
  }

  #images-hero-section {
    z-index: -1;
    position: absolute;
  }

  #card1 {
    display: none;
  }

  #card2 {
    display: none;
  }

  #hero-image {
    opacity: 0.3;
  }

  #links-hero-section a {
    font-weight: 550;
  }

  /* Client-section*/

  #client-section {
    margin: 165px 18px 150px 18px;
  }

  #client-section-images {
    margin: 0;
  }

  /*otherProjects*/

  #otherProjects {
    margin: 20px;
  }

  #projectsLearnMore {
    flex-direction: column;
    align-items: center;
  }

  .fichas {
    margin: 20px;
  }

  /*footer*/

  .contact {
    display: flex;
    margin: 60px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    flex-direction: row;
  }

  .linksProject {
    display: flex;
    grid-gap: 20px;
    flex-direction: column;
    align-content: flex-start;
  }

  #simplifyTitle{
    font-size: 40px;
  }

  #uITitle{
    font-size: 20px;
  }

  .sub2{
    font-size: 10px;
    display: flex;
    align-items: center;
  }

  .sub2 h4{
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .simplifyHeader{
    margin-bottom: 0;
  }

  #imagenSimplify > img{
    margin-bottom: 10px;
  }

  .subSimplify{
    flex-direction: column;
  }

  #otherProjects{
    margin-left: 50px;
    margin-right: 50px;

  }

  .yellow-container{
    width: 90%;
  }
}

/*404 Error animation*/

.fundo {
  animation: scales 3s alternate infinite;
  transform-origin: center;
}
.pao-baixo {
  animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px;
}

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}
@keyframes scales {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotatepao {
  0% {
    transform: rotate(0deg);
  }
  50%,
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes olhos {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks {
  0% {
    opacity: 0;
  }
}

.main {
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite;
}

@keyframes dash {
  0%,
  30% {
    fill: 4B4B62;
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }
}

@media (min-width: 901px) {
  #testimonial-section {
    margin-right: 60px;
    height: 600px;
    margin-left: 60px;
  }

  #testimonial-section h3 {
    font-size: 40px;
  }
  .memoji {
    position: absolute;
    width: 150px;
    height: 150px;
  }
}
