html{
    margin: 0;
}

body{
    background-color: #E5E5E5;
}

.simplify{
    margin: 10px;
}

.otherProjects{
    margin: 10px;
}

.questions{
    
}

.contact{
   
}

.imagenSimplify{
    margin: 30px;
}

.imagenSimplify img{
    width: 400px;
}

